<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/heads :: head}"></div>
<body class="font">

<footer th:fragment="footer" class="border-top border-black bg-secondary">
    <div class="container-fluid">
        <footer class="container bg-secondary">
            <ul class="nav justify-content-center pb-3 mb-3">
                <li class="nav-item">
                    <a href="#" class="nav-link px-2 text-white fs-5" th:text="#{footerHome}">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link px-2 text-white fs-5" th:text="#{features}">Features</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link px-2 text-white fs-5" th:text="#{pricing}">Pricing</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link px-2 text-white fs-5" th:text="#{faqs}">FAQs</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link px-2 text-white fs-5" th:text="#{about}">About</a>
                </li>
            </ul>
            <p class="text-center text-white fs-5">© 2024 Company, Inc</p>
        </footer>
    </div>
</footer>

<div th:replace="~{fragments/scripts :: scripts}"></div>
</body>
</html>
