<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<div th:replace="~{fragments/heads :: head}"></div>
<body class="font">
<div class="d-flex flex-column vh-100 gap-3">
    <div th:replace="~{fragments/headers :: header}"></div>

    <main class="container d-flex flex-column justify-content-center flex-grow-1">
        <!-- TODO -->
        <h3>My Tests</h3>
        <div class="container shadow rounded border border-2 p-5">
            <span class="fs-4"
                  th:if="${paginatedTests.isEmpty()}">
                <!--TODO-->
                You don't have any created tests so far.
            </span>
            <div class="row align-items-center border border-2 shadow rounded p-2 mb-2"
                 th:each="test, iStat : ${paginatedTests}">
                <div class="col-sm-12 col-md-3">
                    <span th:text="${iStat.index + 1} + '.' + ${test.name}"></span>
                </div>
                <div class="col-sm-12 col-md-3">
                    <span th:text="'Current status: ' + ${test.status}"></span>
                </div>
                <div class="col-sm-12 col-md-3">
                    <span th:text="'Last updated: ' + ${test.dateUpdated}"></span>
                </div>
                <div class="col-sm-12 col-md-3 text-end">
                    <a class="btn btn-dark px-3 border border-2 rounded"
                       th:href="@{/test/details/{id}(id=${test.id})}">
                        <!-- TODO -->
                        details
                    </a>
                </div>
            </div>
            <div class="d-flex justify-content-center gap-1">
                <a class="btn btn-dark text-center px-3 py-1 shadow rounded border border-2"
                   th:href="@{/test/all(page=${paginatedTests.number - 1}, size=${paginatedTests.size})}"
                   th:if="${paginatedTests.hasPrevious()}">
                    <img src="/images/left-arrow.png" alt="<<" style="width: 25px; height: auto;">
                </a>
                <a class="btn btn-dark text-center px-3 py-1 shadow rounded border border-2"
                   th:href="@{/test/all(page=${paginatedTests.number + 1}, size=${paginatedTests.size})}"
                   th:if="${paginatedTests.hasNext()}">
                    <img src="/images/right-arrow.png" alt=">>" style="width: 25px; height: auto;">
                </a>
            </div>
        </div>
    </main>
    <div th:replace="~{fragments/footers :: footer}"></div>
</div>
<script
        type="module"
        src="https://cdn.jsdelivr.net/npm/@bufferhead/nightowl@0.0.14/dist/nightowl.js"
></script>
</body>
</html>
