<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<div th:replace="~{fragments/heads :: head}"></div>
<body class="font">
<div class="d-flex flex-column vh-100 gap-3">
    <div th:replace="~{fragments/headers :: header}"></div>

    <main class="container d-flex flex-column justify-content-center flex-grow-1 gap-1">
        <div class="row justify-content-center align-items-center"
             th:each="ideaData : ${improvementIdeas}">
            <div class="col-sm-10 col-md-6 border border-2 p-2 rounded">
                <p class="text-wrap" th:text="${ideaData.idea}"></p>
                <div class="d-flex gap-1">
                    <button type="button" class="w-50 btn btn-dark border border-black border-2 rounded">Approve
                    </button>
                    <a class="w-50 btn btn-dark border border-2 rounded dis"
                       th:text="#{disapprove}"
                       th:href="@{/feedback/disapprove/{id}(id=${ideaData.id})}"></a>
                </div>
            </div>
        </div>
    </main>
    <div th:replace="~{fragments/footers :: footer}"></div>
</div>
<div th:replace="~{fragments/scripts :: scripts}"></div>
</body>
</html>
