<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/heads :: head}"></div>
<body class="font">
<div class="d-flex flex-column vh-100 bg-light">
    <header class="flex-shrink-0 shadow border-bottom border-2">
        <nav class="container navbar bg-light">
            <div class="container-fluid justify-content-center">
                <a class="navbar-brand fs-3" href="#">
                    <img
                            src="/images/school.png"
                            alt="Logo"
                            width="40"
                            height="40"
                            class="d-inline-block align-text-middle"
                    />
                    TestingEz</a
                >
            </div>
        </nav>
    </header>

    <main class="d-flex justify-content-center align-items-center flex-grow-1 bg-light text-center">
        <div class="container">
            <div class="d-flex justify-content-center gap-1">
                <img src="/images/united-kingdom-flag.png" alt="UN flag" id="en" class="flag"
                     style="height: auto; width: 30px; cursor: pointer">
                <img src="/images/germany-flag.png" alt="DE flag" id="de" class="flag"
                     style="height: auto; width: 30px; cursor: pointer">
                <img src="/images/france-flag.png" alt="FR flag" id="fr" class="flag"
                     style="height: auto; width: 30px; cursor: pointer">
                <img src="/images/bulgaria-flag.png" alt="BG flag" id="bg" class="flag"
                     style="height: auto; width: 30px; cursor: pointer">
                <img src="/images/russia-flag.png" alt="RU flag" id="ru" class="flag"
                     style="height: auto; width: 30px; cursor: pointer">
            </div>
            <p class="m-0 fs-1" th:text="#{welcome}">Welcome to TestingEz</p>
            <p class="fs-5" th:text="#{slogan}">
                Start testing whomever you want on whatever you want!
            </p>
            <a
                    href="/account/login"
                    class="btn btn-light btn-lg me-3 px-5 border border-2 rounded"
                    role="button"
                    th:text="#{signIn}"
            >
                Sign In
            </a>
            <a
                    href="/account/create"
                    class="btn btn-light btn-lg px-5 border border-2 rounded"
                    role="button"
                    th:text="#{signUp}"
            >
                Sign Up
            </a>
        </div>
    </main>
    <div th:replace="~{fragments/footers :: footer}"></div>
</div>
<script
        type="module"
        src="https://cdn.jsdelivr.net/npm/@bufferhead/nightowl@0.0.14/dist/nightowl.js"
></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/js/change-language.js"></script>
<div th:replace="~{fragments/scripts :: scripts}"></div>
</body>
</html>
