<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/heads :: head}"></div>
<body class="bg-лигхт vh-100 d-flex justify-content-center align-items-center font">
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="bg-light p-3 border border-3 shadow rounded fs-3 w-50">
        <div class="container d-flex flex-column align-items-center gap-4"
             th:object="${questionData}">
            <div class="row w-100">
                <div class="col-sm-12 col-md-4 text-center">
                    <span th:text="'#' + *{number}"></span>
                </div>
                <div class="col-sm-12 col-md-4 text-center bg-light rounded shadow border border-2">
                    <input type="hidden" th:value="*{responseTime}" th:id="responseTime">
                    <span th:id="countdown"></span>
                </div>
                <div class="col-sm-12 col-md-4 text-center">
                    <span th:text="'p.' + *{points}"></span>
                </div>
            </div>
            <div class="row w-100 text-center bg-лигхт border border-2 rounded shadow">
                <div class="col">
                    <span th:text="*{question}"></span>
                </div>
            </div>
            <div class="w-100">
                <form
                        th:action="@{/response/save}"
                        th:object="${responseData}"
                        method="post">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-check">
                                <input class="form-check-input"
                                       id="answer1"
                                       name="answer"
                                       type="radio"
                                       th:field="*{responseText}"
                                       th:value="${questionData.answer1}"
                                >
                                <label class="form-check-label" for="answer1">
                                    <span th:text="${questionData.answer1}"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-check">
                                <input class="form-check-input"
                                       id="answer2"
                                       name="answer"
                                       type="radio"
                                       th:field="*{responseText}"
                                       th:value="${questionData.answer2}">
                                <label class="form-check-label" for="answer2">
                                    <span th:text="${questionData.answer2}"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-check">
                                <input class="form-check-input"
                                       id="answer3"
                                       name="answer"
                                       type="radio"
                                       th:field="*{responseText}"
                                       th:value="${questionData.answer3}">
                                <label class="form-check-label" for="answer3">
                                    <span th:text="${questionData.answer3}"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-check">
                                <input class="form-check-input"
                                       id="answer4"
                                       name="answer"
                                       type="radio"
                                       th:field="*{responseText}"
                                       th:value="${questionData.answer4}">
                                <label class="form-check-label" for="answer4">
                                    <span th:text="${questionData.answer4}"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="questionId" name="questionId" th:value="${questionData.id}">
                    <!-- those are required to navigate to the next question -->
                    <input type="hidden" id="testId" name="testId" th:value="${questionData.testId}">
                    <input type="hidden" id="questionNumber" name="questionNumber" th:value="${questionData.number}">
                    <!-- --------------------------------------------------- -->
                    <div class="row w-100">
                        <div class="col text-center">
                            <button class="btn btn-dark border border-black border-2 fs-4 px-4"
                                    type="submit"
                                    th:text="#{submit}">
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script
        type="module"
        src="https://cdn.jsdelivr.net/npm/@bufferhead/nightowl@0.0.14/dist/nightowl.js"
></script>
<script src="/js/answer-question-timer.js"></script>
<script src="/js/block-back.js"></script>
<div th:replace="~{fragments/scripts :: scripts}"></div>
</body>
</html>