<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/heads :: head}"></div>
<body class="bg-light vh-100 d-flex justify-content-center align-items-center font">
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="bg-light p-5 border border-2 rounded fs-5 shadow">
        <h2 class="text-center" th:text="#{login}"></h2>
        <form class="d-flex flex-column"
              method="post"
              novalidate
              th:action="@{/account/login}"
              th:object="${userSignInData}">
            <div th:if="${error}" class="bg-danger text-white fs-6 text-center rounded" th:text="#{invalidCredentials}">
            </div>
            <label for="username" class="form-label" th:text="#{loginUsername}"></label>
            <div class="input-group">
                <span class="input-group-text" id="inputGroupPrepend">@</span>
                <input
                        aria-describedby="inputGroupPrepend"
                        class="form-control border fs-6"
                        id="username"
                        th:placeholder="#{enterUsername}"
                        required
                        th:field="*{username}"
                        type="text"
                />
            </div>
            <div
                    th:if="${#fields.hasErrors('username')}"
                    th:errors="*{username}"
                    class="text-danger fs-6"></div>
            <label for="password" class="form-label" th:text="#{loginPassword}"></label>
            <div class="input-group">
                <input
                        class="form-control border fs-6"
                        id="password"
                        name="password"
                        th:placeholder="#{enterPassword}"
                        required
                        th:field="*{password}"
                        type="password"
                />
            </div>
            <div
                    th:if="${#fields.hasErrors('password')}"
                    th:errors="*{password}"
                    class="text-danger fs-6"></div>
            <button
                    type="submit"
                    class="btn btn-dark border border-2 border-black rounded fs-5 mt-3"
                    th:text="#{signIn}"
            >
            </button>
        </form>
    </div>
</div>
<div th:replace="~{fragments/scripts :: scripts}"></div>
</body>
</html>
