<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/heads :: head}"></div>
<body class="font">
<div class="d-flex flex-column align-items-center justify-content-center vh-100 bg-light">
    <div class="bg-light shadow rounded p-5 text-center border border-2">
        <h1 th:text="#{successMessage}"></h1>
        <p class="fs-3"><span th:text="${message}"></span></p>
        <a class="link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover fs-3"
           href="/user/home"
           th:text="#{homePage}"></a>
    </div>
</div>
<script
        type="module"
        src="https://cdn.jsdelivr.net/npm/@bufferhead/nightowl@0.0.14/dist/nightowl.js"
></script>
<div th:replace="~{fragments/scripts :: scripts}"></div>
</body>
</html>