<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/heads :: head}"></div>
<body class="font">
<div class="d-flex flex-column gap-5">
    <div th:replace="~{fragments/headers :: header}"></div>
    <main class="container flex-grow-1">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-8 col-lg-6 p-0">
                <div th:if="${error}" class="bg-danger text-white fs-6 text-center rounded"
                     th:text="#{testAttendance}">
                </div>
            </div>
        </div>
        <br>
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-8 col-lg-6 shadow rounded border border-2"
                 th:object="${testDetails}">
                <h2 th:text="*{name}"></h2>
                <p th:text="#{description} + ' ' + *{description}"></p>
                <p th:text="#{testCode} + ' ' + *{code}"></p>
                <p th:text="#{responseTime} + ' ' + *{responseTime}"></p>
                <p th:text="#{passingScore} + ' ' + *{passingScore}"></p>
                <p th:text="#{questionsCount} + ' ' + *{questionsCount}"></p>
                <p><span th:text="#{status}"></span>
                    <a class="btn border border-2 border-black"
                       th:classappend="*{status} == 'OPEN' ? 'bg-success' : 'bg-danger'"
                       th:href="@{/test/status/change/{id}(id=*{id})}"
                       th:text="*{status}"></a></p>
                <p th:text="#{createdAt} + ' ' + *{dateCreated}"></p>
                <p th:text="#{updatedAt} + ' ' + *{dateUpdated}"></p>
                <p th:text="#{creator} + ' ' + *{creatorUsername}"></p>
            </div>
        </div>
        <br>
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-8 col-lg-6 shadow rounded border border-2 p-3">
                <div class="p-2 rounded border border-2 mb-2"
                     th:each="questionData : ${testQuestions}">
                    <div class="d-flex justify-content-between">
                        <span th:text="'№: ' + ${questionData.number}"></span>
                        <a
                                class="btn btn-light border border-2 rounded"
                                th:href="@{/questions/edit/{id}(id=${questionData.id})}">
                            <img src="/images/edit.png" style="width: 25px; height: auto" alt="edit">
                        </a>
                    </div>
                    <p th:text="#{pointss} + ' ' + ${questionData.points}"></p>
                    <p th:text="${questionData.question}"></p>
                    <p th:text="${questionData.answer1}"></p>
                    <p th:text="${questionData.answer2}"></p>
                    <p th:text="${questionData.answer3}"></p>
                    <p th:text="${questionData.answer4}"></p>
                    <p th:text="#{correctAnswerr} + ' ' + ${questionData.correctAnswer} "></p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-8 col-lg-6 text-center mt-3">
                <a th:href="@{/questions/add/test/{testId}(testId=*{id})}"
                   class="btn btn-light border border-2 rounded-5">
                    <img src="/images/plus.png" style="width: 25px; height: auto" alt="add">
                </a>
            </div>
        </div>
        <hr>
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-8 col-lg-6 text-center mt-3">
                <form method="post"
                      th:action="@{/test/delete/{testId}(testId=*{id})}"
                      th:object="${testDetails}">
                    <button type="submit"
                            class="btn btn-danger rounded text-center border border-2 border-black fs-5 px-3"
                            th:text="#{deleteTest}">
                    </button>
                </form>
            </div>
        </div>
    </main>

    <div th:replace="~{fragments/footers :: footer}"></div>
</div>
<div th:replace="~{fragments/scripts :: scripts}"></div>
</body>
</html>
