<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/heads :: head}"></div>
<body class="font">
<div class="d-flex flex-column vh-100 gap-5">
    <div th:replace="~{fragments/headers :: header}"></div>

    <main class="d-flex align-items-center flex-grow-1">
        <div class="container bg-light border border-2 rounded shadow fs-4 p-3">
            <form
                    action="#"
                    class="needs-validation"
                    method="post"
                    novalidate
                    th:action="@{/test/create}"
                    th:object="${testCreateData}">
                <h1 class="text-center" th:text="#{createTest}"></h1>
                <div class="row row-cols-1 row-cols-md-2 mb-2">
                    <div class="col">
                        <label for="name" class="form-label" th:text="#{testName}"></label>
                    </div>
                    <div class="col">
                        <div class="input-group has-validation">
                            <input
                                    class="form-control border fs-5"
                                    id="name"
                                    maxlength="25"
                                    minlength="5"
                                    name="name"
                                    required
                                    th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''"
                                    th:field="*{name}"
                                    type="text"
                            />
                        </div>
                        <div class="text-danger fs-6"
                             th:errors="*{name}"
                             th:if="${#fields.hasErrors('name')}">
                        </div>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-2 mb-2">
                    <div class="col">
                        <label for="description" class="form-label" th:text="#{description}"></label>
                    </div>
                    <div class="col">
                        <div class="input-group has-validation">
                            <input
                                    class="form-control border fs-5"
                                    id="description"
                                    maxlength="50"
                                    name="description"
                                    th:placeholder="#{optional}"
                                    th:classappend="${#fields.hasErrors('description')} ? 'is-invalid' : ''"
                                    th:field="*{description}"
                                    type="text"
                            />
                        </div>
                        <div class="text-danger fs-6"
                             th:errors="*{description}"
                             th:if="${#fields.hasErrors('description')}">
                        </div>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-2 mb-2">
                    <div class="col">
                        <label for="code" class="form-label" th:text="#{testCode}"></label>
                    </div>
                    <div class="col">
                        <div class="input-group has-validation gap-1">
                            <input
                                    class="form-control border fs-5"
                                    id="code"
                                    name="code"
                                    pattern="^(?=.*[A-Za-z].*[A-Za-z])(?=.*\d.*\d)(?=.*[!@#$%^&*].*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{6}$"
                                    required
                                    th:classappend="${#fields.hasErrors('code')} ? 'is-invalid' : ''"
                                    th:field="*{code}"
                                    type="text"
                            />
                            <button class="btn btn-dark border border-2 border-black rounded fs-5"
                                    onclick="generateCode()"
                                    type="button"
                                    th:text="#{generate}">
                            </button>
                        </div>
                        <div class="text-danger fs-6"
                             th:errors="*{code}"
                             th:if="${#fields.hasErrors('code')}">
                        </div>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-2 mb-2">
                    <div class="col">
                        <label for="responseTime" class="form-label" th:text="#{timeForResponse}">
                        </label>
                    </div>
                    <div class="col">
                        <div class="input-group has-validation">
                            <input
                                    class="form-control border fs-5"
                                    id="responseTime"
                                    name="responseTime"
                                    th:placeholder="#{inMinutes}"
                                    required
                                    th:classappend="${#fields.hasErrors('responseTime')} ? 'is-invalid' : ''"
                                    th:field="*{responseTime}"
                                    type="number"
                            />
                        </div>
                        <div class="text-danger fs-6"
                             th:errors="*{responseTime}"
                             th:if="${#fields.hasErrors('responseTime')}">
                        </div>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-2 mb-2">
                    <div class="col">
                        <label for="passingScore" class="form-label" th:text="#{passingScore}">
                        </label>
                    </div>
                    <div class="col">
                        <div class="input-group has-validation">
                            <input
                                    class="form-control border fs-5"
                                    id="passingScore"
                                    name="passingScore"
                                    th:classappend="${#fields.hasErrors('passingScore')} ? 'is-invalid' : ''"
                                    th:field="*{passingScore}"
                                    type="number"
                            />
                        </div>
                        <div class="text-danger fs-6"
                             th:errors="*{passingScore}"
                             th:if="${#fields.hasErrors('passingScore')}">
                        </div>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-2 mb-2">
                    <div class="col">
                        <label for="questionsCount" class="form-label" th:text="#{questionsCount}">
                        </label>
                    </div>
                    <div class="col">
                        <div class="input-group has-validation">
                            <input
                                    class="form-control border fs-5"
                                    id="questionsCount"
                                    name="questionsCount"
                                    required
                                    th:classappend="${#fields.hasErrors('questionsCount')} ? 'is-invalid' : ''"
                                    th:field="*{questionsCount}"
                                    type="number"
                            />
                        </div>
                        <div class="text-danger fs-6"
                             th:errors="*{questionsCount}"
                             th:if="${#fields.hasErrors('questionsCount')}">
                        </div>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-2 mb-2">
                    <div class="col">
                        <label for="status" class="form-label" th:text="#{status}">
                        </label>
                    </div>
                    <div class="col">
                        <div class="input-group has-validation">
                            <input
                                    class="form-control border fs-5"
                                    id="status"
                                    name="status"
                                    th:placeholder="#{openClosed}"
                                    required
                                    th:classappend="${#fields.hasErrors('status')} ? 'is-invalid' : ''"
                                    th:field="*{status}"
                                    type="text"
                            />
                        </div>
                        <div class="text-danger fs-6"
                             th:errors="*{status}"
                             th:if="${#fields.hasErrors('status')}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <button type="submit"
                                class="btn btn-dark border border-2 border-black rounded fs-5 px-5 mt-3"
                                th:text="#{next}">
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </main>

    <div th:replace="~{fragments/footers :: footer}"></div>
</div>
<script
        type="module"
        src="https://cdn.jsdelivr.net/npm/@bufferhead/nightowl@0.0.14/dist/nightowl.js"
></script>
<script src="/js/code-generator.js"></script>
<div th:replace="~{fragments/scripts :: scripts}"></div>
</body>
</html>
