<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<div th:replace="~{fragments/heads :: head}"></div>
<body class="font">

<header th:fragment="header" class="flex-shrink-0 border-bottom border-black shadow">
    <nav class="navbar navbar-expand-lg bg-secondary">
        <div class="container-fluid gap-1">
            <a
                    class="navbar-brand bg-light rounded shadow px-1 fs-5 border border-black border-2"
                    th:href="@{/user/profile}"
            >
                <img
                        src="/images/astronaut.png"
                        alt="default-avatar"
                        width="35"
                        height="35"
                        class="d-inline-block align-text-middle me-1"
                /><span sec:authentication="name"></span></a
            >
            <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav justify-content-center gap-1 mt-3 mt-lg-0">
                    <a
                            class="nav-link text-center text-dark fs-5 link-light active"
                            aria-current="page"
                            th:href="@{/user/home}"
                    >Home</a>
                    <a
                            class="nav-link text-center text-dark fs-5 link-light active"
                            aria-current="page"
                            th:href="@{/test/join}"
                    >Join Test</a>
                    <a
                            class="nav-link text-center text-dark fs-5 link-light"
                            th:href="@{/test/create}"
                    >Create Test</a>
                    <a class="nav-link text-center text-dark fs-5 link-light" href="#"
                    >My Results</a>
                    <a class="nav-link text-center text-dark fs-5 link-light" href="#"
                    >My Tests</a>
                    <a class="nav-link text-center text-warning fs-5 link-light"
                       href="#"
                       sec:authorize="hasRole('ROLE_ADMINISTRATOR')"
                    >All Tests</a>
                    <a class="nav-link text-center text-warning fs-5 link-light"
                       href="#"
                       sec:authorize="hasRole('ROLE_ADMINISTRATOR')"
                    >All Users</a>
                </div>
                <div class="navbar-nav ms-auto">
                    <form
                            class="text-center"
                            method="post"
                            th:action="@{/account/logout}">
                        <button
                                class="bnt bg-light rounded shadow px-3 py-2 fs-5 text-center text-black mt-3 mt-lg-0 border border-black border-2"
                                type="submit"
                        >
                            Log out
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</header>


<div th:replace="~{fragments/scripts :: scripts}"></div>
</body>
</html>
