<!DOCTYPE html>
<html lang="en">
<div th:replace="~{fragments/heads :: head}"></div>
<body>

<div class="container">
    <div th:fragment="question-form">
        <h2 class="text-center">Question #?</h2>
        <div class="form-group mb-3">
            <input type="text" class="form-control" id="question" placeholder="Enter your question">
        </div>
        <div class="row">
            <div class="col-md-6 mb-1">
                <div class="form-group">
                    <input type="text" class="form-control" id="answer1" placeholder="Enter answer 1">
                </div>
            </div>
            <div class="col-md-6 mb-1">
                <div class="form-group">
                    <input type="text" class="form-control" id="answer2" placeholder="Enter answer 2">
                </div>
            </div>
            <div class="col-md-6 mb-2">
                <div class="form-group">
                    <input type="text" class="form-control" id="answer3" placeholder="Enter answer 3">
                </div>
            </div>
            <div class="col-md-6 mb-2">
                <div class="form-group">
                    <input type="text" class="form-control" id="answer4" placeholder="Enter answer 4">
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>