@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

header,
footer {
  flex-shrink: 0;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(120, 120, 120);
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(233, 236, 239);
}

.main-wrapper {
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
  color: white;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main-wrapper p:first-of-type {
  font-size: 3em;
  margin: 0;
}

.main-wrapper p:last-of-type {
  font-size: 1.5em;
}
