<!DOCTYPE html>
<html lang="en">
<div th:replace="~{fragments/heads :: head}"></div>
<body class="font">
<div class="d-flex flex-column vh-100 gap-5">
    <header class="flex-shrink-0 border-bottom border-black shadow">
        <div class="container-fluid bg-secondary p-3">
            <div class="row mb-2 text-center">
                <div class="col">
                    <button
                            type="button"
                            class="btn btn-danger shadow border border-black border-2"
                    >
                        Cancel
                    </button>
                </div>
            </div>
            <div class="row mb-2 g-3 justify-content-around">
                <div class="col">
                    <div
                            id="questionHeader"
                            class="d-flex justify-content-center align-items-center flex-wrap gap-2"
                    ></div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col">
                    <button
                            type="button"
                            class="btn btn-success shadow border border-black border-2"
                    >
                        Complete
                    </button>
                </div>
            </div>
        </div>
    </header>

    <main class="container d-flex justify-content-center align-items-center flex-grow-1">
        <div id="questionContent"></div>
    </main>

    <div th:replace="~{fragments/footers :: footer}"></div>
</div>

<script src="../static/js/create-questions.js"></script>
<div th:replace="~{fragments/scripts :: scripts}"></div>
</body>
</html>
