<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/heads :: head}"></div>
<body class="font">
<div class="d-flex flex-column vh-100 bg-secondary">
    <header class="flex-shrink-0 shadow rounded border-bottom border-black">
        <nav class="container navbar bg-secondary">
            <div class="container-fluid justify-content-center">
                <a class="navbar-brand text-white fs-3" href="#">
                    <img
                            src="/images/school.png"
                            alt="Logo"
                            width="40"
                            height="40"
                            class="d-inline-block align-text-middle"
                    />
                    TestingEz</a
                >
            </div>
        </nav>
    </header>

    <main
            class="d-flex justify-content-center align-items-center flex-grow-1 bg-light text-center"
    >
        <div class="container">
            <p class="m-0 fs-1">Welcome to TestingEz</p>
            <p class="fs-5">
                Start testing whomever you want <br/>on whatever you want!
            </p>
            <a
                    href="/account/login"
                    class="btn btn-secondary btn-lg me-3 px-5 border border-black border-2 shadow rounded"
                    role="button"
            >
                Sign In
            </a>
            <a
                    href="/account/create"
                    class="btn btn-secondary btn-lg px-5 border border-black border-2 shadow rounded"
                    role="button"
            >
                Sign Up
            </a>
        </div>
    </main>

    <div th:replace="~{fragments/footers :: footer}"></div>
</div>

<div th:replace="~{fragments/scripts :: scripts}"></div>
</body>
</html>
