<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/heads :: head"></div>
<body class="font">
<div class="d-flex flex-column min-vh-100 gap-5 bg-secondary p-3">
    <main
            class="container d-flex flex-column flex-fill align-item-center justify-content-center flex-grow-1 bg-secondary"
    >
        <div class="row justify-content-center">
            <div
                    class="col-sm-12 col-md-10 col-lg-8 bg-light shadow rounded border border-2 border-black p-3"
            >
                <h2 class="text-center">Register</h2>
                <form
                        action="#"
                        class="needs-validation"
                        method="post"
                        novalidate
                        th:action="@{/account/create}"
                        th:object="${userSignUpData}"
                >
                    <div class="row justify-content-center">
                        <div class="col">
                            <label for="username" class="form-label">Username:</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text" id="inputGroupPrepend">@</span>
                                <input
                                        aria-describedby="inputGroupPrepend"
                                        class="form-control border border-black fs-6"
                                        id="username"
                                        maxlength="25"
                                        minlength="5"
                                        name="username"
                                        required
                                        th:classappend="${#fields.hasErrors('username')} ? 'is-invalid' : ''"
                                        th:field="*{username}"
                                        type="text"
                                />
                            </div>
                            <div class="text-danger fs-6"
                                 th:errors="*{username}"
                                 th:if="${#fields.hasErrors('username')}">
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col">
                            <label for="password" class="form-label">Password:</label>
                            <div class="input-group has-validation">
                                <input
                                        class="form-control border border-black fs-6"
                                        id="password"
                                        minlength="8"
                                        name="password"
                                        required
                                        th:classappend="${#fields.hasErrors('password')} ? 'is-invalid' : ''"
                                        th:field="*{password}"
                                        type="password"
                                />
                            </div>
                            <div class="text-danger fs-6"
                                 th:errors="*{password}"
                                 th:if="${#fields.hasErrors('password')}">
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col">
                            <label for="confirmPassword" class="form-label">Confirm password:</label>
                            <div class="input-group has-validation">
                                <input
                                        class="form-control border border-black fs-6"
                                        id="confirmPassword"
                                        minlength="8"
                                        name="confirmPassword"
                                        required
                                        th:classappend="${#fields.hasErrors('confirmPassword')} ? 'is-invalid' : ''"
                                        th:field="*{confirmPassword}"
                                        type="password"
                                />
                            </div>
                            <div class="text-danger fs-6"
                                 th:errors="*{confirmPassword}"
                                 th:if="${#fields.hasErrors('confirmPassword')}">
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col">
                            <label for="firstName" class="form-label">First Name:</label>
                            <div class="input-group has-validation">
                                <input
                                        class="form-control border border-black fs-6"
                                        id="firstName"
                                        name="firstName"
                                        required
                                        th:classappend="${#fields.hasErrors('firstName')} ? 'is-invalid' : ''"
                                        th:field="*{firstName}"
                                        type="text"
                                />
                            </div>
                            <div class="text-danger fs-6"
                                 th:errors="*{firstName}"
                                 th:if="${#fields.hasErrors('firstName')}">
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col">
                            <label for="lastName" class="form-label">Last Name:</label>
                            <div class="input-group has-validation">
                                <input
                                        class="form-control border border-black fs-6"
                                        id="lastName"
                                        name="lastName"
                                        required
                                        th:classappend="${#fields.hasErrors('lastName')} ? 'is-invalid' : ''"
                                        th:field="*{lastName}"
                                        type="text"
                                />
                            </div>
                            <div class="text-danger fs-6"
                                 th:errors="*{lastName}"
                                 th:if="${#fields.hasErrors('lastName')}">
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col">
                            <label for="email" class="form-label">Email:</label>
                            <div class="input-group has-validation">
                                <input
                                        class="form-control border border-black fs-6"
                                        id="email"
                                        name="email"
                                        placeholder="name@example.com"
                                        required
                                        th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''"
                                        th:field="*{email}"
                                        type="email"
                                />
                            </div>
                            <div class="text-danger fs-6"
                                 th:errors="*{email}"
                                 th:if="${#fields.hasErrors('email')}">
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col">
                            <label for="phone" class="form-label">Phone number:</label>
                            <div class="input-group has-validation">
                                <input
                                        class="form-control border border-black fs-6"
                                        id="phone"
                                        name="phone"
                                        pattern="^[0-9]{3}-[0-9]{3}-[0-9]{4}$"
                                        placeholder="XXX-XXX-XXXX"
                                        required
                                        th:field="*{phone}"
                                        th:classappend="${#fields.hasErrors('phone')} ? 'is-invalid' : ''"
                                        type="tel"
                                />
                            </div>
                            <div class="text-danger fs-6"
                                 th:errors="*{phone}"
                                 th:if="${#fields.hasErrors('phone')}">
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col d-flex justify-content-center">
                            <button
                                    type="submit"
                                    class="btn btn-secondary border border-black border-2 shadow rounded fs-5 px-5 mt-3"
                            >
                                Sign Up
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>

<div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>
